* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  width: 100%;
} */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-golden: #dcca87;
  --color-golden-light: #e6dab2;
  --color-black: #0c0c0c;
  --color-black-card: #0e1214;
  --light-color: #f4f4f4;
  --color-crimson: #f5efdb;
  --color-gray: #aaaaaa;
  --color-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background-color: var(--color-black);
} */

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.card {
  padding: 1rem;
  border: 1.5px dotted var(--color-golden);
  margin: 0.7rem 0;
}

@media screen and (max-width: 650px) {
  .card {
    max-width: 600px;
  }
}

.active {
  background-color: var(--color-golden);
}

.none {
  background-color: var(--color-white);
}

.btn {
  text-decoration: none;
  display: inline-block;
  background: var(--light-color);
  /* font-family: var(--font-alt); */
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
